<h1>Recipe Results</h1>

{{!-- TODO create HTML and display the recipe information --}}

<p>You entered "{{ userIngredients }}"</p>

<p>Here's a recipe using your ingredients.</p>

<h2>{{ recipeJson.recipeName }}</h2>

<h3>Description</h3>
<p>{{ recipeJson.description }}</p>

<h3>Ingredients</h3>
<ul>
{{#each recipeJson.ingredients}}
    <li>{{this}}</li>
{{/each}}
</ul>

<h3>Instructions</h3>
<ul>
    {{#each recipeJson.instructions}}
        <li>{{this}}</li>
    {{/each}}
</ul>